.App {
  font-family: Helvetica, sans-serif;
  color: ivory;
  width: 280px;
  height: 220px;
  position: fixed;
  left: 50%;
  margin-top: 10px;
  margin-left: -150px;
  border:1px solid dimgray;
  background-image: linear-gradient(white, dimgray);
  text-align: center;
  text-shadow: 1px 1px darkslategrey;
}

.City {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-stretch: extra-expanded;
  padding-top: 10px;
  padding-bottom: 10px;
  background-image: linear-gradient(gray, white);
}
.Data {
  border-top: 1px solid gray;
  vertical-align: 20px;
  padding: 5px;
}

.InlineDiv {
  display: inline-block;
  margin-left: 20px;
  margin-right: 20px;
}
